## **Question - Which product category and location should we target for our next ad campaign?**

In [32]:
# import required python packages

import pandas as pd
import matplotlib.pyplot as plt

In [34]:
# importing dataset
data_url = 'E:/Practicing - Data Analytics/practice_sales_data.csv'
df = pd.read_csv(data_url)

#printing first 5 rows of the dataset
df.head()

,transaction_ID,date,product_category,product_name,units_sold,unit_price,total_revenue,location
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe

In [36]:
# inspect the data

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_ID    245 non-null    int64
 1   date              245 non-null    object
 2   product_category  245 non-null    object
 3   product_name      245 non-null    object
 4   units_sold        245 non-null    int64
 5   unit_price        245 non-null    float64
 6   total_revenue     245 non-null    float64
 7   location          245 non-null    object
dtypes: float64(2), int64(2), object(4)
memory usage: 15.4+ KB

In [ ]:
#which product category and location to target for add campaign?
# we'll need to find out the percentage revenue for sum of products in each category based on their locations

#sum of the revenues of all transactions
total_revenue = df['total_revenue'].sum()

#revenue of products categorized by product category and location
revenue_per_category_and_location = df.groupby(['product_category','location'])['total_revenue'].sum()

#percentage proportions up to 2 decimal places of revenues for product categories and locations
prct_prod_cat_loc = ((revenue_per_category_and_location / total_revenue) * 100).round(2)

prct_prod_cat_loc

In [61]:
#sorting the values in descending order 

sort_revenue = prct_prod_cat_loc.sort_values(ascending=False)

sort_revenue

product_category  location
Electronics       North America    41.93
Home Appliances   Europe           22.35
Sports            Asia             17.17
Clothing          Asia              9.74
Beauty Products   Europe            3.14
Electronics       Asia              2.24
Books             North America     2.23
Electronics       Europe            1.20
Name: total_revenue, dtype: float64

### This is the product category and location we should target for the next ad campaign:

In [78]:
#printing the top performing location and product category

sort_revenue.head(1)

product_category  location
Electronics       North America    41.93
Name: total_revenue, dtype: float64